swagger: '2.0'
info:
  description: 'This is nodejs portal nexclipper api.'
  version: '1.0.0'
  title: 'Swagger nexclipper'
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: 'apiteam@swagger.io'
host: 'nexclipper.com'
basePath: '/'
tags:
  - name: channel
    description: channel API

paths:
  # [POST] channels
  /channels:
    post:
      tags:
        - channel
      summary: Create Channel
      parameters:
        - name: body
          in: body
          description: Channel data
          required: true
          schema:
            $ref: '#/definitions/createChannel'
      responses:
        201:
          description: 'Created'
        400:
          description: 'Bad Request'
        409:
          description: 'Conflict'
        500:
          description: 'Server Error'
    # [GET] channel
    get:
      tags:
        - channel
      summary: Find All Channel
      responses:
        200:
          description: 'OK'
        500:
          description: 'Server Error'
  # [GET] channels/id
  /channels/{id}:
    get:
      tags:
        - channel
      summary: Get Channel By Id
      parameters:
        - name: id
          in: path
          description: Channel Id
          required: true
          type: string
      responses:
        200:
          description: 'OK'
        409:
          description: 'Conflict'
        500:
          description: 'Server Error'
    # [PUT] channels/id
    put:
      tags:
        - channel
      summary: Update Channel By Id
      parameters:
        - name: id
          in: path
          description: Channel Id
          required: true
          type: string
        - name: body
          in: body
          description: Channel Data
          required: true
          schema:
            $ref: '#/definitions/updateChannel'
      responses:
        200:
          description: 'OK'
        400:
          description: 'Bad Request'
        409:
          description: 'Conflict'
        500:
          description: 'Server Error'
       

# definitions
definitions:
  createChannel:
    type: object
    required:
      - channelName
      - channelDescription
      - channelType
      - channelAdaptor
    properties:
      channelDescription:
        type: string
        description: channel channelDescription
        example: example
      channelType:
        type: string
        description: channel channelType
        example: EMAIL
      channelName:
        type: string
        description: channel channelName
        example: example
      channelAdaptor:
        type: json
        description: channel descrichannelAdaptorption
        example: {"key":"value"}
  updateChannel:
    type: object
    required:
      - channelName
      - channelDescription
      - channelType
      - channelAdaptor
    properties:
      channelDescription:
        type: string
        description: channel channelDescription
        example: example edit
      channelType:
        type: string
        description: channel channelType
        example: EMAIL
      channelName:
        type: string
        description: channel channelName
        example: example edit
      channelAdaptor:
        type: json
        description: channel descrichannelAdaptorption
        example: {"key":"value"}