<!DOCTYPE html>
<html>

<head>
    <title>Forget Password</title>
</head>

<body>
    <div>
        <h3>Hi {{name}},</h3>
        <p>Someone has requested to a new password for the account on NexClipper. </p>
        <p>If you didn’t make this request, just ignore this email. If you’d like to proceed: </p>
        <p><a href="{{url}}"> Click here to reset your password</a> </p>
        <p> This request will expire in 1 hour.</p>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>