swagger: '2.0'
info:
  description: 'This is nodejs portal nexclipper api.'
  version: '1.0.0'
  title: 'Swagger nexclipper'
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: 'apiteam@swagger.io'
host: 'nexclipper.com'
basePath: '/'
tags:
  - name: invitation
    description: invitation API

paths:
  # [POST] invite/email
  /invite/email:
    post:
      tags:
        - invitation
      summary: Create Invitation
      parameters:
        - name: body
          in: body
          description: Invitation data
          required: true
          schema:
            $ref: '#/definitions/createInvitation'
      responses:
        201:
          description: 'Created'
        400:
          description: 'Bad Request'
        409:
          description: 'Conflict'
        500:
          description: 'Server Error'
    # [GET] invite/email
    get:
      tags:
        - invitation
      summary: Check For Invitation
      parameters:
        - name: email
          in: query
          description: invitation email
          required: true
          type: string
      responses:
        200:
          description: 'OK'
        500:
          description: 'Server Error'
    # [PUT] invite/email
    put:
      tags:
        - invitation
      summary: Update Invitation
      parameters:
        - name: body
          in: body
          description: Invitation Data
          required: true
          schema:
            $ref: '#/definitions/updateInvitation'
      responses:
        200:
          description: 'OK'
        400:
          description: 'Bad Request'
        409:
          description: 'Conflict'
        500:
          description: 'Server Error'
  # [GET] invite/accept
  /invite/accept:
    get:
      tags:
        - invitation
      summary: Accept Mail
      parameters:
        - name: token
          in: query
          description: invitation token
          required: true
          type: string
      responses:
        200:
          description: 'OK'
        500:
          description: 'Server Error'
  # [GET] invite/reject
  /invite/reject:
    get:
      tags:
        - invitation
      summary: Reject Mail
      parameters:
        - name: token
          in: query
          description: invitation token
          required: true
          type: string
      responses:
        200:
          description: 'OK'
        500:
          description: 'Server Error'

# definitions
definitions:
  createInvitation:
    type: object
    required:
      - tenancyPk
      - invitedByUserId
      - invitedTo
      - token
    properties:
      tenancyPk:
        type: string
        description: invitation tenancyPk
        example: example
      invitedByUserId:
        type: string
        description: invitation invited By UserId
        example: example@exm.com
      invitedTo:
        type: string
        description: invitation invitedTo
        example: example@exm.com
      token:
        type: string
        description: invitation token
        example: example
  updateInvitation:
    type: object
    required:
      - email
    properties:
      email:
        type: string
        description: invitation email
        example: example@exm.com
